{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Betty's Restaurant</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% block header %}
    <header>
        <h1>Restaurante de Betty</h1>
        <a href="{% url 'core:index' %}"><button>Inicio</button></a>
        <a href="{% url 'core:pedido' %}"><button>Hacer Pedido</button></a>
        <a href="{% url 'core:reservacion' %}"><button>Hacer Reservacion</button></a>
        <a href="{% url 'core:sugerencia' %}"><button>Hacer Sugerencia</button></a>
    </header>
    {% endblock header %}
    {% block content %}
    {% endblock content %}
    {% block footer %}
    <footer>
        <p>Libre de Copyrigt</p>
        <ul>
            <h4>Cosas a tener en cuenta</h4>
            <li>Pagina en Desarrolo</li>
            <li>No Enviar Spam</li>
            <li>No Enviar Informacion Personal</li>
        </ul>
    </footer>
    {% endblock footer %}
</body>
</html>