{% extends 'core/base.html' %}

{% block content %}
    <br>
    <h1>Menu Del Dia</h1>
    <br>
    {% for category,food in food_diches.items %}
        <div class="menu">
            <h1 style="text-decoration: underline turquoise;">{{ category }}</h1>
            {% for menu in food.food_name %}
                <h2 style="padding-bottom: 1px;">{{ menu.strip }}</h2>
                {% if food.category.id == 4 %}
                    <h2 style="margin-bottom: 0px;">{{ food.price }}</h2>
                    <br>
                {% endif %}
            {% endfor %}
            <img src="{{ food.image.url }}" height="170px">
            <br><br>
            {% if user.is_authenticated %}
                <a href="{% url 'core:actualizar_platillo' food.id %}">
                    <button>Editar</button></a>
                <br><br>
            {% endif %}
        </div>
    {% endfor %}
{% endblock content %}